<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shoppingCart">
<insert id = "insert"  keyProperty = "cartNo" useGeneratedKeys="true" >
INSERT INTO GP_CART(
     CART_NO,
     CUST_ID,
     PROD_CD,
     CART_STOCK,
     INS_DT,
     INS_USER,
     UPD_DT,
     UPD_USER
)VALUES(
     #{cartNo},
     #{custId},
     #{prodCd},
     #{cartStock},
     NOW(),
     #{custId},
     NOW(),
     #{custId}
 )
</insert>

<select id = "select"  parameterType = "String" resultType = "hashmap">
	SELECT
         A.CART_NO as cartNo
        ,A.CUST_ID as custId
        ,A.CART_STOCK as cartStock
		,B.PROD_CD as prodCd
        ,B.PROD_NM as prodNm
        ,B.CTG_CD as ctgCd
        ,B.CNSM_PRCE as csmePrice
        ,B.QTY as qty
        ,B.RMARK as rmark
	 FROM GP_CART A, GP_PROD B
	WHERE A.PROD_CD = B.PROD_CD
	  AND A.CUST_ID = #{custId}
	ORDER BY A.UPD_DT DESC
</select>

<delete id= "deleteCartBeforeInsert"  parameterType="String">
	DELETE FROM GP_CART WHERE CUST_ID = #{custId}
</delete>

<update id = "insertAfterDel" parameterType="hashmap"  keyProperty = "cartNo" >
	INSERT INTO GP_CART(
		CART_NO,
		CUST_ID,
		PROD_CD,
		CART_STOCK,
		INS_DT,
		INS_USER,
		UPD_DT,
		UPD_USER
	)VALUES
	<foreach collection="updCartList"  item = "i"  index = "idx" separator=",">
	(	#{cartNo},
		#{i.custId},
		#{i.prodCd},
		#{i.cartStock},
		NOW(),
		#{i.custId},
		NOW(),
		#{i.custId}
	)
	</foreach>
</update>

<delete id = "deleteCart" parameterType = "String">
	DELETE FROM GP_CART WHERE CART_NO = #{cartNo}
</delete>

</mapper>